<div class="container">
    <div class="main-card d-flex flex-column justify-content-evenly">
        <div class="row d-flex flex-row justify-content-between">
            <div class="home-link">
                <h2 class="link">Zachary Gorr</h2>
            </div>
            <div class="d-flex flex-row justify-content-evenly">
                <h3 class="mr link">Case Study</h3>
                <h3 class="mr link">Case Study</h3>
                <h3 class="link">Case Study</h3>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-evenly align-items-center">
            <div>
                <h1>Zachary Gorr</h1>
                <h5 class="mt--1 mb-3">Product Designer</h5>
                <p class="who-am-i-copy">As a lead product designer with a wide knowledge base in the field, I have a strong background in designing and developing intuitive, user-centered products. I have a proven track record of successfully leading cross-functional teams to bring innovative products to market and am skilled in using a variety of design tools and methodologies to create engaging user experiences.</p>
                <a href="./../../../assets/pdfs/Zachary Gorr Product Designer Resume.pdf" target="_blank"><button class="purple-btn purple-outline mt-3">Resume</button></a>
            </div>
            <div class="giant-logo d-flex flex-row justify-content-center align-items-center">
                <p class="logo-font">Zg</p>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-between">
            <div>
                <h4 class="link">Contact</h4>
            </div>
            <div>
                <h4>© 2023 All rights reserved.</h4>
            </div>
        </div>
    </div>
</div>

