// Colors
$light-purple: #D5C7F2;
$dark-purple: #5D3DA1;

$white: #FFFFFF;
$off-white: #F5F5F5;
$light-grey: #D6D6D6;
$grey: #777777;
$dark-grey: #2E2E2E;

// Radii 
$card-radius: .625rem;
$button-radius: 1.50rem;
$circle-radius: 9.375rem;

